.home-parent {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 100px;
}

.background-pic {
    width: 100%;
    height: auto;
    background-image: url("../images/homepage_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.invision-logo {
    width: 20%;
    height: auto;
    /* margin-bottom: 10px */
}

@media(max-width: 600px) {
    .invision-logo {
        width: 30%;
    }
}