.our-products-parent {
    width: 100%;
    background-image: url("../images/aakhor_bg.png");
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    /* padding: 100px 0;
    margin: -100px 0; */
}

.our-products-parent > div {
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.aakhor-heading-parent {
    margin: 10px 30px;
}

#aakhor-heading-desc-text {
    margin: 10px 0;
}

.aakhor-description-parent {
    margin: 40px 30px 30px;
}

.our-products-gradient {
    background: linear-gradient(to right, rgb(252, 221, 221), rgba(255, 255, 255, 0.3));
}

.our-products-text-button {
    padding: 20px 0;
}

@media (max-width: 800px) {
    .our-products-parent > div {
        padding: 0 10px;
    }

    #aakhor-heading-text {
        font-size: 10vw;
        margin: 20px 0;
    }
}
