.subscribe-parent {
    width: 100%;
    background: linear-gradient(to left, rgb(243, 170, 197), rgba(255, 255, 255, 0));
    /* background: linear-gradient(to left, rgb(252, 221, 221), rgba(255, 255, 255, 0)); */
    /* opacity: 0.2; */
    
    /* text-align: right; */
    
    
}

.subscribe-gradient {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
    /* grid-gap: 15px; */
    height: auto;
    justify-items: stretch;
    align-items: stretch;
    
    /* background-image: url("../images/shapes.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right; */
    
}



.subscribe-button {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 30px;
}

.subscribe-text {
    grid-column: 2/3;
    padding: 30px;
    text-align: left;
}

@media(max-width: 600px) {
    .subscribe-gradient {
        display: block;
    }
}
